#homeTitle {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

#userOption {
  text-align: center;
}

#backgroundHome {
  background-size: 1500px;
  width: 100%;
  height: 450px;
}

#choiceBox {
  height: 250px;
}

#homeMeal {
  line-height: 200px;
}

#takeOut {
  line-height: 200px;
}
.recipe-image-styles {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.modal-outer {
  display: grid;
  background: hsla(32, 36%, 73%, 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}
.modal-inner{
    max-width: 600px;
    min-width: 400px;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:20px;
  }

.recipe-list {
    
}

#boredBlock{
  margin: 50px;
}
