#homeTitle{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

#userOption{
    text-align: center;

}

#backgroundHome{
    background-size: 1500px;
    width: 100%;
    height: 450px;

}


#choiceBox{
 height: 250px;
}


#homeMeal{
    line-height: 200px;
}

#takeOut{
    line-height: 200px;
}